[Unit]
Description=My Flask App
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/var/www/piapp
ExecStart=/var/www/piapp --ini app.ini

[Install]
WantedBy=multi-user.target
