{% extends "layout.html" %}

{% block content %}
    <!-- Bootstrap CSS -->
 <!--   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    <!-- jQuery -->
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!-- Bootstrap Multiselect Plugin CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css">
  -->
    <style>
        .multiselect-container {
            max-height: 200px;
            overflow-y: auto;
        }
    </style>

<div class="content-section">

<script>
  window.onload = function() {
    let additionalIngredients = document.getElementById("additional_ingredients");
    let latestIngredientField;

    function addIngredientRow(initialLoad) {
      let ingredientRow = document.createElement("div");
      ingredientRow.setAttribute("class", "form-row ml-3");

      let ingredientCol1 = document.createElement("div");
      ingredientCol1.setAttribute("class", "col-md-4");
      ingredientCol1.appendChild(createIngredientField(initialLoad));

      let ingredientCol2 = document.createElement("div");
      ingredientCol2.setAttribute("class", "col");
      ingredientCol2.appendChild(createIngredientNoteField(initialLoad));

      ingredientRow.appendChild(ingredientCol1);
      ingredientRow.appendChild(ingredientCol2);

      additionalIngredients.appendChild(ingredientRow);
    }

    function createIngredientField(initialLoad) {
      let ingredientFieldContainer = document.createElement("div");
      ingredientFieldContainer.setAttribute("class", "form-group");

      if (initialLoad) {
        let ingredientLabel = document.createElement("label");
        ingredientLabel.textContent = "Ingredient";
        ingredientFieldContainer.appendChild(ingredientLabel);
      }

      let ingredientField = document.createElement("input");
      ingredientField.setAttribute("type", "text");
      ingredientField.setAttribute("name", "ingredient[]");
      ingredientField.setAttribute("class", "form-control form-control-md ");
      ingredientField.addEventListener("input", function() {
        if (ingredientField === latestIngredientField && ingredientField.value !== "" && !ingredientField.nextElementSibling) {
          addIngredientRow(false); // Add a new ingredient row when the latest field is fully populated
          latestIngredientField = additionalIngredients.lastElementChild.querySelector("input[name='ingredient[]']");
        }
      });

      ingredientFieldContainer.appendChild(ingredientField);
      return ingredientFieldContainer;
    }

    function createIngredientNoteField(initialLoad) {
      let ingredientNoteFieldContainer = document.createElement("div");
      ingredientNoteFieldContainer.setAttribute("class", "form-group");

      if (initialLoad) {
        let ingredientNoteLabel = document.createElement("label");
        ingredientNoteLabel.textContent = "Ingredient Note";
        ingredientNoteFieldContainer.appendChild(ingredientNoteLabel);
      }

      let ingredientNoteField = document.createElement("input");
      ingredientNoteField.setAttribute("type", "text");
      ingredientNoteField.setAttribute("name", "ingredient_note[]");
      ingredientNoteField.setAttribute("class", "form-control form-control-md ");

      ingredientNoteFieldContainer.appendChild(ingredientNoteField);
      return ingredientNoteFieldContainer;
    }

    addIngredientRow(true); // Add the initial ingredient row with labels
    latestIngredientField = additionalIngredients.lastElementChild.querySelector("input[name='ingredient[]']");
  }
</script>

  <form method="POST" enctype="multipart/form-data" action="">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 ">Add Recipe</legend>
      
      
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.name.label(class="form-control-label") }}        
          {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid ") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="form-control form-control-lg") }}
          {% endif %}
        </div>



        <div class="form-group dropdown-menu-custom">
          {{ form.multiselect_field.label(class="form-control-label") }}
                <div>
                  <select multiple  id="{{ form.multiselect_field.id }}">
                      {% for value, label in form.multiselect_field.choices %}
                          <option value="{{ value }}">{{ label }}</option>
                      {% endfor %}
                  </select>
                </div>    
            </div>


      </div>

      <div class="form-group">
        {{ form.url.label(class="form-control-label") }}
        {% if form.url.errors %}
          {{ form.url(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.url.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
        {% else %}
          {{ form.url(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        <div id="additional_ingredients"></div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          {{ form.prep_time.label(class="form-control-label") }}  
          {% if form.prep_time.errors %}
            {{ form.prep_time(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.prep_time.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.prep_time(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group col-md-3">
          {{ form.cook_time.label(class="form-control-label") }}  
          {% if form.cook_time.errors %}
            {{ form.cook_time(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.cook_time.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.cook_time(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group col-md-3">
          {{ form.additional_time.label(class="form-control-label") }}  
          {% if form.additional_time.errors %}
            {{ form.additional_time(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.additional_time.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.additional_time(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-3">
          {{ form.cuisinelist.label(class="form-control-label") }}  
          {{ form.cuisinelist(class="form-control form-control-lg") }}
        </div>
      </div>

      <div class="form-group">
        {{ form.instructions.label(class="form-control-label") }}  
        {% if form.instructions.errors %}
          {{ form.instructions(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.instructions.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.instructions(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.source_notes.label(class="form-control-label") }}  
        {% if form.source_notes.errors %}
          {{ form.source_notes(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.source_notes.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.source_notes(class="form-control form-control-lg") }}
        {% endif %}
      </div>


      <div class="form-group">
        {{ form.note_from_user.label(class="form-control-label") }}  
        {% if form.note_from_user.errors %}
          {{ form.note_from_user(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.note_from_user.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.note_from_user(class="form-control form-control-lg") }}
        {% endif %}
      </div>


      <div class="form-group">
        {{ form.image.label(class="form-control-label") }}
        {{ form.image(class="form-control-file") }}
        {% if form.image.errors %}
          {% for error in form.image.errors %}
            <span class="text-danger">{{ error }}</span></br>
          {% endfor %}
        {% endif %}
      </div>
    </fieldset>
    {{form.submit(class="btn btn-outline-info")}}
  </form>
</div>

<!-- Modal -->
<div class="modal fade" id="AddCuisineModalLabel" tabindex="-1" role="dialog" aria-labelledby="AddCuisineModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Add new cuisine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     <!-- <div class="modal-body">
        New cuisine
      </div>-->
      <div class="form-group col-md-3">
        {{ form.cuisine.label(class="form-control-label") }}  
        {% if form.cuisine.errors %}
          {{ form.cuisine(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in form.cuisine.errors %}
                <span>{{ error }}</span>
              {% endfor %}
          </div>
        {% else %}
          {{ form.cuisine(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="" method="POST">
          <input type="submit" class="btn btn-outline-info" value="Add">
        </form>
      </div>
    </div>
  </div>
</div>



    <!-- Multiselect Dropdown Initialization -->
    
    <script>
      $(document).ready(function () {
          // Initialize the multiselect dropdown using the 'id' attribute of the select element
          $("#{{ form.multiselect_field.id }}").multiselect({

            buttonWidth: '300px',
            buttonTextAlignment: 'left',
            nonSelectedText: ''
          

          });
      });
  </script>


{% endblock %}