{% extends "layout.html" %}

{% block content %}
<style>
  .multiselect-container {
      max-height: 200px;
      overflow-y: auto;
  }

  {% if recipe.image_file != 'default.jpg' %}
  .drop-zone {
      background-image: url("{{ url_for('static', filename='recipe_images/' + recipe.image_file) }}"); /* Adjust the filename as needed */
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  }
  {% endif %}

</style>


<script>
  window.onload = function() {
    let additionalIngredients = document.getElementById("additional_ingredients");
    let latestIngredientField;

    function addIngredientRow(initialLoad, isGroup, name, note) {
      let ingredientRow = document.createElement("div");
      ingredientRow.setAttribute("class", "form-row align-items-center");

      let ingredientCol1 = document.createElement("div");
      ingredientCol1.setAttribute("class", "col-2 text-center d-flex align-items-center justify-content-center");
      ingredientCol1.appendChild(createIsGroupCheckbox(initialLoad && additionalIngredients.children.length === 0, isGroup));

      let ingredientCol2 = document.createElement("div");
      ingredientCol2.setAttribute("class", "col-5");
      ingredientCol2.appendChild(createIngredientField(initialLoad && additionalIngredients.children.length === 0, name));

      let ingredientCol3 = document.createElement("div");
      ingredientCol3.setAttribute("class", "col-5");
      ingredientCol3.appendChild(createIngredientNoteField(initialLoad && additionalIngredients.children.length === 0, note));

      ingredientRow.appendChild(ingredientCol1);
      ingredientRow.appendChild(ingredientCol2);
      ingredientRow.appendChild(ingredientCol3);

      additionalIngredients.appendChild(ingredientRow);
    }

    function createIsGroupCheckbox(showLabel, isGroup = false) {
      let isGroupCheckboxContainer = document.createElement("div");
      isGroupCheckboxContainer.setAttribute("class", "form-group mb-0 d-flex align-items-center justify-content-center");


      // Hidden input to capture unchecked state
      let hiddenInput = document.createElement("input");
      hiddenInput.setAttribute("type", "hidden");
      hiddenInput.setAttribute("name", "is_ingredient_group[]");
      hiddenInput.setAttribute("value", "false");

      let isGroupCheckbox = document.createElement("input");
      isGroupCheckbox.setAttribute("type", "checkbox");
      isGroupCheckbox.setAttribute("name", "is_ingredient_group[]");
      isGroupCheckbox.setAttribute("class", "mt-2");
      isGroupCheckbox.setAttribute("value", "true");

      // Set the checkbox state based on the isGroup parameter
      if (isGroup === "true" || isGroup === true) {
        isGroupCheckbox.checked = true;
        hiddenInput.disabled = true;
      }

      // When checkbox is checked, remove the hidden input value
      isGroupCheckbox.addEventListener("change", function() {
        hiddenInput.disabled = this.checked;
      });

      isGroupCheckboxContainer.appendChild(hiddenInput);
      isGroupCheckboxContainer.appendChild(isGroupCheckbox);
      return isGroupCheckboxContainer;
    }

    function createIngredientField(showLabel, name = "") {
      let ingredientFieldContainer = document.createElement("div");
      ingredientFieldContainer.setAttribute("class", "form-group");



      let ingredientField = document.createElement("input");
      ingredientField.setAttribute("type", "text");
      ingredientField.setAttribute("name", "ingredient[]");
      ingredientField.setAttribute("class", "form-control form-control-md");
      ingredientField.value = name; // Prepopulate the field with data

      ingredientField.addEventListener("input", function() {
        if (ingredientField === latestIngredientField && ingredientField.value !== "" && !ingredientField.nextElementSibling) {
          addIngredientRow(false);
          latestIngredientField = additionalIngredients.lastElementChild.querySelector("input[name='ingredient[]']");
        }
      });

      ingredientFieldContainer.appendChild(ingredientField);
      return ingredientFieldContainer;
    }

    function createIngredientNoteField(showLabel, note = "") {
      let ingredientNoteFieldContainer = document.createElement("div");
      ingredientNoteFieldContainer.setAttribute("class", "form-group");

      let ingredientNoteField = document.createElement("input");
      ingredientNoteField.setAttribute("type", "text");
      ingredientNoteField.setAttribute("name", "ingredient_note[]");
      ingredientNoteField.setAttribute("class", "form-control form-control-md");
      ingredientNoteField.value = note; // Prepopulate the field with data

      ingredientNoteFieldContainer.appendChild(ingredientNoteField);
      return ingredientNoteFieldContainer;
    }

    // Loop through existing ingredients and notes to prepopulate fields
    {% for ingredient in ingredients %}
      addIngredientRow(true, {{ ingredient.is_group_header|tojson|safe }}, {{ ingredient.name_written|tojson|safe }}, {{ ingredient.note|tojson|safe }});
    {% endfor %}

    // Add an initial empty ingredient row with labels
    addIngredientRow(true);
    latestIngredientField = additionalIngredients.lastElementChild.querySelector("input[name='ingredient[]']");
  }
</script>





<div class="content-section">

  <div class="pt-3 mb-4">
    <small class="text-muted">
      <a class="ml-4 link-secondary" href="/recipes/{{ recipe.recipe_id }}">Back</a>
    </small>
  </div>

<form method="POST" enctype="multipart/form-data" action="">
  {{form.hidden_tag()}}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Edit Recipe - {{ recipe.name }}</legend>


    <div class="row mb-4">
      <div class="col d-flex flex-column">

        <div class="form-group">
          {{ form.name.label(class="form-control-label") }}
          {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.name(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.url.label(class="form-control-label") }}

          {% if form.url.errors %}
            {{ form.url(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.url.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.url(class="form-control form-control-lg") }}
          {% endif %}
        </div>


        <div class="form-group">
          {{ form.note_from_user.label(class="form-control-label") }}  
          {% if form.note_from_user.errors %}
            {{ form.note_from_user(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.note_from_user.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
            </div>
          {% else %}
            {{ form.note_from_user(class="form-control form-control-lg") }}
          {% endif %}
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <i class="fa-regular fa-clock mr-1"></i>{{ form.prep_time.label(class="form-control-label") }}  
            {% if form.prep_time.errors %}
              {{ form.prep_time(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.prep_time.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.prep_time(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group col-md-3">
            <i class="fa-regular fa-clock mr-1"></i>{{ form.cook_time.label(class="form-control-label") }}  
            {% if form.cook_time.errors %}
              {{ form.cook_time(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.cook_time.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.cook_time(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group col-md-3">
            <i class="fa-regular fa-clock mr-1"></i>{{ form.additional_time.label(class="form-control-label") }}  
            {% if form.additional_time.errors %}
              {{ form.additional_time(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.additional_time.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.additional_time(class="form-control form-control-lg") }}
            {% endif %}
          </div>

          <div class="form-group col-md-3">
            <i class="fa-solid fa-people-group ml-2 mr-1"></i>{{ form.servings.label(class="form-control-label") }}  
            {% if form.servings.errors %}
              {{ form.servings(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.servings.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.servings(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        
        <div class="form-row">

          <div class="form-group dropdown-menu-custom col-sm">
            {{ form.collection_list.label(class="form-control-label") }}
            <div>
            {{ form.collection_list(id="collection_list", class="form-control", multiple="multiple") }}
            </div>
          </div>

          <div class="form-group col-sm">
            {{ form.cuisinelist.label(class="form-control-label") }}  
            {{ form.cuisinelist(class="form-control form-control-lg") }}
          </div>
        </div>

      </div> <!--endcol -->

      <div class="mr-3">
        <div class="drop-zone">
          <span class="drop-zone__prompt">Drop file here or click to upload</span>
          {{ form.image(class="form-control-file drop-zone__input") }} 
        </div>

        <div class="form-group mt-3">
          {{ form.pdf.label(class="form-control-label") }}
          {% if pdf_file %}
            <div>
              <span class="text-muted">{{ pdf_file }}</span>
            </div>
          {% endif %}
     
          {{ form.pdf(class="form-control-file") }}
          {% if form.pdf.errors %}
            {% for error in form.pdf.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div> <!--end row -->

    <div class="row">
      <div class="col-md-8">  
        <div class="form-row">
          <div class="col-2 text-center  ">
            <label>Group?<i class="fas fa-question-circle ml-2" data-toggle="tooltip" title="Check to make this a group header"></i>
            </label>
          </div>
          <div class="col-5">
            <label>Ingredient</label>
          </div>
          <div class="col-5">
              <label>Ingredient Note</label>
          </div>
        </div>

        <div class="form-group">
      
          {% if form.ingredient.errors %}
            {{ form.ingredient(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.ingredient.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        
          <div id="additional_ingredients" class="form-group"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      {{ form.instructions.label(class="form-control-label") }}<i class="fas fa-question-circle ml-2" data-toggle="tooltip" title="Start a line with > to make it a group"></i>     
      {% if form.instructions.errors %}
        {{ form.instructions(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.instructions.errors %}
              <span>{{ error }}</span>
            {% endfor %}
        </div>
      {% else %}
        {{ form.instructions(class="form-control form-control-lg auto-resize") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.source_notes.label(class="form-control-label") }}  
      {% if form.source_notes.errors %}
        {{ form.source_notes(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.source_notes.errors %}
              <span>{{ error }}</span>
            {% endfor %}
        </div>
      {% else %}
        {{ form.source_notes(class="form-control form-control-lg  auto-resize") }}
      {% endif %}
    </div>
  


  </fieldset>
  {{form.submit(class="btn btn-outline-info")}}
  <a href="/recipes/{{ recipe.recipe_id }}" class="btn btn-outline-secondary ml-3">Cancel</a>

  <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#DeleteModalLabel">Delete...</button>
  
</form>

</div>

<!-- Modal -->
<div class="modal fade" id="DeleteModalLabel" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Delete recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ recipe.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('delete_recipe', recipe_id=recipe.recipe_id) }}" method="POST">
          <input type="submit" class="btn btn-outline-danger" value="Confirm Delete">
        </form>
      </div>
    </div>
  </div>
</div>

    <!-- Multiselect Dropdown Initialization -->

<script>
    $(document).ready(function () {
        // Populate the multiselect dropdown with collection data
        var collections = {{ collections_data | tojson | safe }};
        var selectedCollectionIds = {{ selected_collection_ids | tojson | safe }};

        $('#collection_list').empty(); // Clear existing options

        collections.forEach(function (collection) {
            var isSelected = selectedCollectionIds.includes(collection.collection_id);
            $('#collection_list').append($('<option>', {
                value: collection.collection_id,
                text: collection.collection_name,
                selected: isSelected
            }));
        });

        // Initialize the multiselect dropdown
        $('#collection_list').multiselect({
            buttonWidth: '100%',
            buttonTextAlignment: 'left',
            nonSelectedText: '',
            numberDisplayed: 0,
        });
    });
</script>

<!-- Auto-resize large text fields, based on CSS class -->
<script>
  function autoResizeTextarea(textarea) {
      textarea.style.height = 'auto';
      textarea.style.height = textarea.scrollHeight + 'px';
  }

  document.addEventListener('DOMContentLoaded', function() {
      const textareas = document.querySelectorAll('.auto-resize');
      textareas.forEach(textarea => {
          autoResizeTextarea(textarea);
          textarea.addEventListener('input', () => autoResizeTextarea(textarea));
      });
  });
</script>

{% endblock %}