{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1>Search Recipes</h1>
    <form method="post">
        <div class="form-group">
            <input type="search" list="browsers" class="form-control" id="search_for" name="search_for" autocomplete="off"
                placeholder="Search by recipe name or ingredient. Keyword NOT can be used to exclude results." value="{{ query }}">
                
            {% if old_query_history %}
            <!-- TODO: Change out the method of dropdown to have consistent UI with other fields (collection and Cuisine)-->    
            <datalist id="browsers" >
                {% for query in old_query_history %}
                    <option value="{{ query.query_text }}">
                {% endfor %}
            </datalist>
            {% endif %}
        </div>        
        <div class="d-flex">
            <div class="mr-auto" >
                <button type="submit" class="btn btn-outline-info mb-2 mr-3">Search</button>
                <a class="btn mb-2" href="{{ url_for('home') }} ">Reset</a>
            </div>
        </div>
    </form>
    <h4 class="d-inline-block">Collections</h4> 
    <div class="p-2 font-weight-bold d-inline-block text text-secondary">({{ collections|length }})</div>    

    <div class="container pb-3 border-bottom mb-3 px-1 justify-content-center">
        <div class="row justify-content-center">
        <div class="col-auto collection_gutter  d-inline-block d-flex align-items-center " id="scrollLeftIcon">
            <i class="fas fa-arrow-left text-secondary"></i>
        </div>
        <div class="col-9 d-inline-block">
            <div class="row scrolling-wrapper-flexbox" id="scrollingWrapper">              
                {% if collections %}
                    {% for collection in collections%}
                        <div class="col px-0">
                            <a href="{{ url_for('home', collection_id_filter=collection.collection_id, collection_name_filter=collection.collection_name) }}">
                                <div class="collection-img-container card-img-top row border rounded m-2 overflow-hidden">
                                    <img src="{{ url_for('static', filename='recipe_images/' + collection.latest_image_file) }}" class="img-fluid" alt="Thumbnail">
                                    <div class="position-absolute top-0 left-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.5);">
                                        <div class="collection-img-title">
                                        {{ collection.collection_name }}
                                        <br>
                                        <small>
                                            {{ collection.recipe_count }} Recipes
                                        </small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="collection_gutter col-auto d-inline-block d-flex align-items-center justify-content-center" id="scrollRightIcon">
            <i class="fa-solid fa-arrow-right text-secondary"></i>
        </div>
        </div> <!-- row -->
      </div>

    {% if all_results %}
        <div class="d-flex pb-2">
            <div class="mr-auto">
                {% if collection_name_filter %}
                    <a class="text-secondary d-inline-block mr-2" href="{{ url_for('home') }} "><i class="fa-solid fa-arrow-left"></i></a>
                    <h4 class="d-inline-block">{{ collection_name_filter }}</h4>
                {% else %}
                    <h4 class="d-inline-block">Recipes</h4>
                {% endif %}
                <div class="p-2 font-weight-bold d-inline-block text text-secondary">({{ all_results|length }})</div>    
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <div class="dropdown p-2">
                        <a class="text-muted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="font-weight-bold"> {{ recipe_sort_label }} </span> 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for sort_option in sorting_options %}
                                <a class="dropdown-item" href="{{ url_for('home', recipe_sort=sort_option[1]) }}" {% if current_sort == sort_option[1] %}class="active"{% endif %}>{{ sort_option[0] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4">
        
        {% for result in all_results|sort(attribute=session_sort_order, reverse = sort_reverse) %}
            {% set recipe = result[0] %}
            {% set recipe_plan_date = result[1] %}
        <div class="col px-2"><!--<div class="col-sm-3 d-flex align-items-stretch"></div><div class="col-md-3">     col-lg-4 col-md-6 col-sm-12-->
            <div class="card">
                <a href="/recipes/{{ recipe.recipe_id }}">    
                    <div class="card-img-container">
                        <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_file) }}" class="card-img-top" alt="{{ recipe.name }}" >      
                        <div class="card-img-overlay  d-flex align-items-end flex-column bd-highlight  mb-3">

                            {% if not recipe_plan_date %}

                                <form action="{{ url_for('add_to_plan', recipe_id=recipe.recipe_id) }}" method="post">
                                    <button class="btn btn-add-to-plan p1-2  " type="submit">
                                        <i class="fa-solid fa-plus" style="color:lightgray" data-toggle="tooltip" data-placement="top" title="Add to plan"></i>
                                    </button> 
                                </form>

                            {% else %}

                                <form action="{{ url_for('remove_from_plan', recipe_id=recipe.recipe_id) }}" method="post">
                                    <button class="btn btn-add-to-plan-added p1-2" type="submit" data-toggle="tooltip" title="Added to plan (Click to remove)">
                                        <i class="fa-solid fa-check" style="color: lightgreen" data-placement="top"></i>
                                        <i class="fa-solid fa-x" style="color: rgb(238, 144, 144)" data-placement="top"></i>
                                    </button>
                                    
                                </form>

                            {% endif %}

                        </div>
                        <div class="card-img-title">
                            <p class="card-text mt-auto">
                                {{ recipe.name }}
                            </p>
                        </div>                                      
                    </div>                  
                    <div class="card-footer text-secondary text-right">
                        {% if recipe.total_time %} 
                            <i class="fa-regular fa-clock mr-1 fa-sm" data-toggle="tooltip" data-placement="top" title="Totel cooking time"></i>{{recipe.total_time}} 
                        {% endif %}
                        {% if recipe.ingredient_count %} 
                            <i class="fa-solid fa-lemon ml-2 mr-1 fa-sm" alt="Ingredients" data-toggle="tooltip" data-placement="top" title="Ingredient count"></i>{{recipe.ingredient_count}}
                        {% endif %}

                        </div>                    
                </a>
            </div>
            <small class="recipe-card-source text-muted ">
                <i class="fa-solid fa-link mr-2"></i>
                {% if recipe.source_url_short %}
                <a href="{{ recipe.source_url }}" target="_blank" class="text-muted">{{ recipe.source_url_short | truncate(30) }}</a>
                {% elif recipe.source_url %}
                <a href="{{ recipe.source_url }}" target="_blank" class="text-muted">{{recipe.source_url | truncate(30) }}</a>
                {% else %}
                No source URL available
                {% endif %}
            </small>       
        </div>
        {% endfor %}    
    </div>
    {% else %}
    No recipes found
    {% endif %}
</div>  

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


<!---
This script captures the current scroll position when any button 
with the classes "btn-add-to-plan" or "btn-add-to-plan-added" is clicked
 and stores it in a session cookie named "scrollPosition."
-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const planButtons = document.querySelectorAll(".btn-add-to-plan, .btn-add-to-plan-added");
        const recipeLinks = document.querySelectorAll(".card");

        planButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {
                // Capture the current scroll position for the plan button
                const planScrollY = window.scrollY;

                // Store the plan button scroll position in a session cookie
                document.cookie = `planScrollPosition=${planScrollY};path=/`;
            });
        });

        recipeLinks.forEach(function (link) {
            link.addEventListener("click", function (event) {
                // Capture the current scroll position for the recipe link
                const recipeScrollY = window.scrollY;

                // Store the recipe link scroll position in a session cookie
                document.cookie = `recipeScrollPosition=${recipeScrollY};path=/`;
            });
        });

        // Check if the plan button scroll should be used
        const shouldUsePlanScroll = new URLSearchParams(window.location.search).get('usePlanScroll') === 'true';

        if (shouldUsePlanScroll) {
            const planScrollPosition = document.cookie
                .split('; ')
                .find(row => row.startsWith('planScrollPosition='))
                ?.split('=')[1];

            // Scroll to the stored plan button position
            if (planScrollPosition) {
                window.scrollTo(0, parseInt(planScrollPosition, 10));
            }
        }

        // Check if the recipe link scroll should be used
        const shouldUseRecipeScroll = new URLSearchParams(window.location.search).get('useRecipeScroll') === 'true';

        if (shouldUseRecipeScroll) {
            const recipeScrollPosition = document.cookie
                .split('; ')
                .find(row => row.startsWith('recipeScrollPosition='))
                ?.split('=')[1];

            // Scroll to the stored recipe link position
            if (recipeScrollPosition) {
                window.scrollTo(0, parseInt(recipeScrollPosition, 10));
            }
        }
    });
</script>



{% endblock %}
