{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <h1>Search Recipes</h1>
    <form method="post">
        <div class="form-group">
            <input type="search" list="browsers" class="form-control" id="search_for" name="search_for" autocomplete="off"
                placeholder="Search by recipe name or ingredient. Keyword NOT can be used to exclude results." value="{{ query }}">
                
            <!-- TODO: Change out the method of dropdown to have consistent UI with other fields (collection and Cuisine)-->    
            {% if old_query_history %}
            <datalist id="browsers" >
                {% for query in old_query_history %}
                    <option value="{{ query.query_text }}">
                {% endfor %}
            </datalist>
            {% endif %}
        </div>           
        <button type="submit" class="btn btn-outline-info mb-4 mr-3">Search</button>
        <a class="btn mb-4" href="{{ url_for('home') }} ">Reset</a>
        <div class="float-right ml-3">Sort...</div>
        <div class="float-right ml-3">Collection...</div>
        <div class="float-right ml-3">Cuisine...</div>
        <div class="float-right">{{ all_results|length }} recipes found</div>    
    </form>
    {% if all_results %}
    <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4">
        {% for result in all_results|sort(attribute=sortorder, reverse = True) %}
            {% set recipe = result[0] %}
            {% set recipe_plan_date = result[1] %}
        <div class="col px-2"><!--<div class="col-sm-3 d-flex align-items-stretch"></div><div class="col-md-3">     col-lg-4 col-md-6 col-sm-12-->
            <div class="card">
                <a href="/recipes/{{ recipe.recipe_id }}">    
                    <div class="card-img-container">
                        <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_file) }}" class="card-img-top" alt="{{ recipe.name }}" >      
                        <div class="card-img-overlay  d-flex align-items-end flex-column bd-highlight  mb-3">

                            {% if not recipe_plan_date %}

                                <form action="{{ url_for('add_to_plan', recipe_id=recipe.recipe_id) }}" method="post">
                                    <button class="btn btn-add-to-plan p1-2  " type="submit">
                                        <i class="fa-solid fa-plus" style="color:lightgray" data-toggle="tooltip" data-placement="top" title="Add to plan"></i>
                                    </button> 
                                </form>

                            {% else %}

                                <form action="{{ url_for('remove_from_plan', recipe_id=recipe.recipe_id) }}" method="post">
                                    <button class="btn btn-add-to-plan-added p1-2 " type="submit" data-toggle="tooltip"  title="Added to plan (Click to remove)">
                                        <i class="fa-solid fa-check" style="color:lightgreen"  data-placement="top"></i>
                                    </button> 
                                </form>

                            {% endif %}

                        </div>
                        <div class="card-img-title">
                            <p class="card-text mt-auto">
                                {{ recipe.name }}
                            </p>
                        </div>                                      
                    </div>                  
                    <div class="card-footer text-secondary text-right">
                        <i class="fa-regular fa-clock mr-1 fa-sm" data-toggle="tooltip" data-placement="top" title="Totel cooking time"></i>{{recipe.total_time}} 
                        <i class="fa-solid fa-lemon ml-2 mr-1 fa-sm" alt="Ingredients" data-toggle="tooltip" data-placement="top" title="Ingredient count"></i>{{recipe.ingredient_count}}
                    </div>                    
                </a>
            </div>
            <small class="recipe-card-source text-muted ">
                <i class="fa-solid fa-link mr-2"></i>
                {% if recipe.source_url_short %}
                <a href="{{ recipe.source_url }}" target="_blank" class="text-muted">{{ recipe.source_url_short | truncate(30) }}</a>
                {% elif recipe.source_url %}
                <a href="{{ recipe.source_url }}" target="_blank" class="text-muted">{{recipe.source_url | truncate(30) }}</a>
                {% else %}
                No source URL available
                {% endif %}
            </small>       
        </div>
        {% endfor %}    
    </div>
    {% else %}
    No recipes found
    {% endif %}
</div>  

<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>


<!---
This script captures the current scroll position when any button 
with the classes "btn-add-to-plan" or "btn-add-to-plan-added" is clicked
 and stores it in a session cookie named "scrollPosition."
-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const addButtonContainers = document.querySelectorAll(".btn-add-to-plan, .btn-add-to-plan-added");

        addButtonContainers.forEach(function (button) {
            button.addEventListener("click", function (event) {
                // Capture the current scroll position
                const scrollY = window.scrollY;

                // Store the scroll position in a session cookie
                document.cookie = `scrollPosition=${scrollY};path=/`;
            });
        });
    });

    // Script specific to this child template
    document.addEventListener("DOMContentLoaded", function () {
        const scrollPosition = document.cookie
            .split('; ')
            .find(row => row.startsWith('scrollPosition='))
            ?.split('=')[1];

        // Scroll to the stored position
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition, 10));
        }
    });
</script>

{% endblock %}
