{% extends "layout.html" %}

{% block content %}

<div class="content-section">

    <h1>Plan</h1>

    {% if plans %}
        {% for plan in plans %}
          

        <div class="container">
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0">
                    <img src="{{ plan.image_file }}" alt="{{ plan.name }}">
                </div>
                <div class="card-block px-2">
                    <h4 class="card-title">{{ plan.name }}</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-primary">BUTTON</a>
                </div>
                <div class="w-100"></div>
                <div class="card-footer w-100 text-muted">
                    <a href="{{ plan.source_url }}" target="_blank">{{ plan.source_url }}</a>
                </div>
            </div>
            <br>

        </div>



          

        {% endfor %}
    {% endif %}
      </div>








{% endblock %}