{% extends "layout.html" %}

{% block content %}

<div class="content-section">
  <h1>{{ recipe.name }}</h1>
  <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_file) }}" alt="{{ recipe.name }}" class="rounded img-fluid max-width: 100%">
  <p>{{ recipe.source_url }}</p>

  <h2>Ingredients</h2>
  <ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient.name_written }}</li>
    {% endfor %}
  </ul>

  <h2>Instructions</h2>
  <p style="white-space: pre-line">{{ recipe.instructions }}</p>

  <a href="{{ url_for('edit_recipe', recipe_id=recipe.recipe_id) }}" class="btn btn-outline-info">Edit Recipe</a>
</div>


{% endblock %}