{% extends "layout.html" %}

{% block content %}

<div class="content-section">
  <div class="pt-3 mb-4">
    <small class="text-muted">
      <a class="ml-4 link-secondary" href="{{ url_for('home', useRecipeScroll='true',  retreive_search_query='true') }}">Back to all recipies</a>
    </small>
    <div class="float-right">
      {%if collections %}
        <small class="text-muted ">Collection(s):   
          {% for collection in collections%}
          <a href="#" class="badge badge-secondary">{{ collection }}</a>
          {% endfor %}
          </small>
      {% endif %}
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-6 d-flex flex-column">
      <div>
        <h1 style="display: inline;">{{ recipe.name }}</h1> 
        <small class="text-muted ml-3" >
          {% if cuisine_name %}
            {{ cuisine_name }}
          {% endif %}  
        </small>
      </div>
      {% if recipe.source_url_short %}
      <div>
          <a href="{{ recipe.source_url }}" target="_blank">{{ recipe.source_url_short }}</a>
      </div>  
      {% elif recipe.source_url %}
      <div class="">
          <a href="{{ recipe.source_url }}" target="_blank">{{ recipe.source_url | truncate(30)}}</a>
      </div>
      {% endif %}
      {% if recipe.whisk_url %}
      <div class=" align-items-end"> 
          <a href="{{ recipe.whisk_url }}" target="_blank">View recipe on Whisk</a>
      </div>
      {% endif %}      
      {% if note_from_user_list %}
      <div>
        {% for note_from_user in note_from_user_list %}
          <p>{{note_from_user}}</p>
        {% endfor %}
      </div>
      {% endif %} 
      <div class="mt-auto"></div>
      {% if recipe.prep_time or recipe.cook_time or recipe.additional_time or recipe.servings %}
        <!--<div class="row mt-auto ml-1 p-2 bg-light-gray shadow-sm" >   this was used in the past but had too large of a margin at the top-->
        <div class="row mt-3 mx-1 px-1 py-2  " >
          {% if recipe.prep_time %}
          <div class="col-lg-3 col-6 px-2">
            <b><i class="fa-regular fa-clock mr-1"></i>Prep:</b> <br> {{ recipe.prep_time }}
          </div>
          {% endif %}
          {% if recipe.cook_time %}
          <div class="col-lg-3 col-6 px-2">
            <b><i class="fa-regular fa-clock mr-1"></i>Cook: </b><br>{{ recipe.cook_time }}
          </div>
          {% endif %}
          {% if recipe.additional_time %}
          <div class="col-lg-3 col-6 px-2">
            <b><i class="fa-regular fa-clock mr-1"></i>Additional:</b><br> {{ recipe.additional_time }}
          </div>  
          {% endif %}
          {% if recipe.servings %}
          <div class="col-lg-3 col-6 px-2">
            <b><i class="fa-solid fa-people-group ml-2 mr-1"></i>Servings:</b> <br>{{ recipe.servings }}
          </div>  
          {% endif %}

        </div>
      {% endif %}
    </div>
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_file) }}" alt="{{ recipe.name }}" class="rounded img-fluid  obj-cover mt-3 mt-sm-03">
      <div class="recipe-img-overlay  d-flex align-items-end flex-column bd-highlight">
        {% if not recipe_planned %}
            <form action="{{ url_for('add_to_plan', recipe_id=recipe.recipe_id) }}" method="post">
                <button class="btn btn-add-to-plan p1-2  " type="submit">
                    <i class="fa-solid fa-plus" style="color:lightgray" data-toggle="tooltip" data-placement="top" title="Add to plan"></i>
                </button> 
            </form>
        {% else %}
            <form action="{{ url_for('remove_from_plan', recipe_id=recipe.recipe_id) }}" method="post">
                <button class="btn btn-add-to-plan-added p1-2" type="submit" data-toggle="tooltip" title="Added to plan (Click to remove)">
                    <i class="fa-solid fa-check" style="color: lightgreen" data-placement="top"></i>
                    <i class="fa-solid fa-x" style="color: rgb(238, 144, 144)" data-placement="top"></i>
                </button>           
            </form>

        {% endif %}
      </div>

      <div class="mt-3">
        <span class="fa-solid fa-chart-simple float-right ml-2 align-self-center pt-2"></span>
        <form action="{{ url_for('mark_cooked') }}" method="post">
          <input type="hidden" name="recipe_id" value="{{ recipe.recipe_id }}">
          <button class="btn btn-outline-info float-right" type="submit">{{ cook_count }} +1 cooked</button>
        </form>

        {% if recipe_pdf %}
        <a href="{{ url_for('static', filename='custom_prints/' + recipe_pdf) }}" class="btn btn-outline-info float-right mr-3" target="_blank">Source Recipe PDF</a>
      {% endif %}
        
      </div>
    
    </div>
  </div>
  <div class="row mb-4">

    <div class="mb-4 col-12 col-md-4 pr-3">
      <h2>Ingredients</h2>
      <ul class="list-group">
        {% for ingredient in ingredients %}
        <li class="list-unstyled py-2">
          <div class="row">
            {% if not ingredient.is_group_header %}
              <div class="col-2 col-md-2">
                <img src="{{ url_for('static', filename='ingredient_images/' + ingredient.name_official + '.jpg') }}">
              </div>
              
              <div class="col-10 col-md-10">
                {{ ingredient.name_written }}
                <br>
                <small class="text-muted">{{ ingredient.note or '' }}</small>
              </div>
            {% else %}  
              <div class="col-10 col-md-11 h4">
                {{ ingredient.name_written }}
                <br>
                <small class="text-muted">{{ ingredient.note or '' }}</small>
              </div>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="mb-4 col-12 col-md-8 pr-3">
      <h2 >Instructions</h2>
        {% for instruction in instructions %}
          {% if instruction.is_group_header %}
            <div class="h4">{{ instruction.text_contents }}</div>
          {% else %}
            <div class="pl-4 pb-3">{{ instruction.text_contents }}</div>
          {% endif %}
        {% endfor %}
    </div>
  </div>

  {% if source_notes %}
    <h2>Source Notes</h2>
    <ul>
      {% for source_note in source_notes %}
      <li class="pb-1">{{ source_note.text_contents }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <a href="{{ url_for('edit_recipe', recipe_id=recipe.recipe_id) }}" class="btn btn-outline-info">Edit Recipe</a>
</div>
<p>View count: {{view_count}}</p>

{% endblock %}