{% extends "layout.html" %}

{% block content %}

<div class="content-section">
  <div class="pt-3 mb-4">
    <small class="text-muted">
      <a class="ml-4 link-secondary" href="{{ url_for('home') }}">Back to all recipies</a>
    </small>
  </div>


  <div class="row">
    <div class="col-5">
      <img src="{{ url_for('static', filename='recipe_images/' + recipe.image_file) }}" alt="{{ recipe.name }}" class="rounded img-fluid  obj-cover">
    </div>
    <div class="col  d-flex flex-column">

      <div class="row">
        <small class="text-muted">{{ collection.collection_name }}</small>
      </div>

      <div class="row">
        <h1>{{ recipe.name }}</h1>
      </div>

      
      {% if recipe.source_url_short %}
      <div class="row">
          <p><a href="{{ recipe.source_url }}" target="_blank">{{ recipe.source_url_short }}</a></p>
      </div>  
      {% elif recipe.source_url %}

      <div class="row">
          <p><a href="{{ recipe.source_url }}" target="_blank">{{ recipe.source_url | truncate(30)}}</a></p>  
      </div>
      {% endif %}

      {% if recipe.whisk_url %}
      <div class="row align-items-end"> 
          <p><a href="{{ recipe.whisk_url }}" target="_blank">View recipe on Whisk</a></p>
      </div>
      {% endif %}
      
      {% if note_from_user_list %}
      <div>
        {% for note_from_user in note_from_user_list %}
          <p>{{note_from_user}}</p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="row mt-auto" >
        <div class="col-3">
          {% if recipe.prep_time %}
            Prep time: <br> {{ recipe.prep_time }}
          {% endif %}
        </div>
        <div class="col-3">
          {% if recipe.cook_time %}
            Cook time: <br>{{ recipe.cook_time }}
          {% endif %}
        </div>
        <div class="col-3">
          {% if recipe.additional_time %}
            Additional time: <br>{{ recipe.additional_time }}
          {% endif %}
          </div>  
      </div>


      
    </div>
  </div>

  <h2>Ingredients</h2>
  <ul class="list-group">
    {% for ingredient in ingredients %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-1">
          <img src="{{ url_for('static', filename='ingredient_images/' + ingredient.name_official + '.jpg') }}">
        </div>
        <div class="col-11">
          {{ ingredient.name_written }}
          <br>
          <small class="text-muted">{{ ingredient.note or '' }}</small>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>

  <h2>Instructions</h2>
  <ol>
    {% for instruction in instructions %}
    <li>{{ instruction.text_contents }}</li>
    {% endfor %}
  </ol>

  {% if source_notes %}
    <h2>Source Notes</h2>
    <ul>
      {% for source_note in source_notes %}
      <li>{{ source_note.text_contents }}</li>
      {% endfor %}
    </ul>
  {% endif %}




  <a href="{{ url_for('edit_recipe', recipe_id=recipe.recipe_id) }}" class="btn btn-outline-info">Edit Recipe</a>
</div>
<p>View count: {{view_count}}</p>

{% endblock %}