{% extends "layout.html" %}

{% block content %}
<div class="content-section">


  <script>

    function addIngredient() {
        let additionalIngredients = document.getElementById("additional_ingredients");
        let ingredientField = document.createElement("input");
        ingredientField.setAttribute("type", "text");
        ingredientField.setAttribute("name", "ingredient");
        ingredientField.setAttribute("class", "form-control form-control-lg mb-2");
        additionalIngredients.appendChild(ingredientField);
    }
</script>
<form method="POST" enctype="multipart/form-data" action="">
  {{form.hidden_tag()}}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">Edit Recipe - {{ recipe.name }}</legend>
    <img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" alt="{{ recipe.name }}"  class="rounded img-fluid max-width: 100%">

    <div class="form-group">
      {{ form.name.label(class="form-control-label") }}
      {% if form.name.errors %}
        {{ form.name(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.name.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form.name(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.url.label(class="form-control-label") }}

      {% if form.url.errors %}
        {{ form.url(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.url.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
      {% else %}
        {{ form.url(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.ingredient.label(class="form-control-label") }}

      {% if form.ingredient.errors %}
        {{ form.ingredient(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.ingredient.errors %}
              <span>{{ error }}</span>
            {% endfor %}
        </div>
      {% else %}
      
      {% for ingredient in ingredients %}
        {{ form.ingredient(value=ingredient.name, class="form-control form-control-lg  mb-2") }}
      {% endfor %}
      
        <div id="additional_ingredients" class="form-group"></div>
        <button type="button" onclick="addIngredient()" class="btn btn-outline-info">+ Add more ingredients</button>
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.instructions.label(class="form-control-label") }}     
      {% if form.instructions.errors %}
        {{ form.instructions(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.instructions.errors %}
              <span>{{ error }}</span>
            {% endfor %}
        </div>
      {% else %}
        {{ form.instructions(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="form-group">
      {{ form.image.label(class="form-control-label") }}
      {{ form.image(class="form-control-file") }}
      {% if form.image.errors %}
        {% for error in form.image.errors %}
          <span class="text-danger">{{ error }}</span></br>
        {% endfor %}
      {% endif %}
    </div>

  </fieldset>
  {{form.submit(class="btn btn-outline-info")}}
  <button type="button" class="btn btn-danger m-1 float-right" data-toggle="modal" data-target="#DeleteModalLabel">Delete...</button>
  
</form>

</div>


<!-- Modal -->
<div class="modal fade" id="DeleteModalLabel" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteModalLabel">Delete recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ recipe.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('delete_recipe', recipe_id=recipe.recipe_id) }}" method="POST">
          <input type="submit" class="btn btn-danger" value="Confirm Delete">
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}