{% extends "layout.html" %}

{% block content %}
<div class="content-section">

<h1>Search Recipes</h1>

<form method="post">
    <div class="form-group">
        <input type="text" class="form-control" id="search_for" name="search_for"
            placeholder="Search by recipe name or ingredient">
    </div>
    <button type="submit" class="btn btn-outline-info">Search</button>
    Clear
</form>

{% if recipe_results %}
    <h2>Results</h2>for {{ recipe_results }}
{% elif recipes %}
    <h2>Recipes</h2>

    <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4">
        {% for recipe in recipes %}
        <div class="col d-flex "><!--<div class="col-sm-3 d-flex align-items-stretch"></div><div class="col-md-3">     col-lg-4 col-md-6 col-sm-12-->
            <div class=" card  mb-3 ">
                <a href="/recipes/{{ recipe.id }}"><img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" class="card-img-top"
                    alt="{{ recipe.name }}" ></a>
                
                <div class="card-body">
                    <h5 class="card-title"><a href="/recipes/{{ recipe.id }}">{{ recipe.name }}</a></h5>
                    <p class="card-text">{{ recipe.url | truncate(25) }}</p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

</div>

{% endblock %}