body {
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem; */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .bg-light-gray {
    background-color: #d7e7e9;
  }

  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .card-img-top {
    max-width:100%;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.card-img-container {
  position: relative;
  text-align: center;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  max-width: 100%;
  height: 150px;
}	

.card-img-container .card-img-title {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-img-container {
  height: 150px;
  width: 150px;
  position: relative;

  
}	

.collection-img-title {
  position: absolute; /* Position the background text */
  color: #f1f1f1; /* Grey text */
  width: 80%; /* Full width */
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
  ;



  
}


.obj-cover {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

.recipe-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;

}

.recipe-card-source {
  display: -webkit-box;
  -webkit-line-clamp: 2 ;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px
}

.card a {text-decoration:none;}


.custom-select {
  height: calc(1.5em + 1.4rem + 2px)
} 

.dropdown-menu-custom {
  padding: 0rem .5rem;
  }

  /*---------Drag drop image------------*/
  .drop-zone {
	max-width: 400px;
	height: 400px;
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	font-size: 20px;
	cursor: pointer;
	color: #cccccc;
	border: 4px dashed #009578;
	border-radius: 10px;
}

.drop-zone--over {
	border-style: solid;
}

.drop-zone__input {
	display: none;
}

.drop-zone__thumb {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #cccccc;
	background-size: cover;
	position: relative;
}

.drop-zone__thumb::after {
	content: attr(data-label);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.75);
	font-size: 14px;
	text-align: center;
}
  /*---------End Drag drop image------------*/

  .btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
  }
  .btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
  }

  .btn-add-to-plan{
    background: rgba(0, 0, 0, 0.5);
    border-radius: .25rem  ;

  }

  .btn-add-to-plan-added{
    background: rgba(19, 146, 0, 0.5);
    border-radius: .25rem  ;
    border: 1px solid rgb(0, 169, 31);
  
  }


.btn-add-to-plan-added:hover .fa-check {
    display: none;
}

.btn-add-to-plan-added:hover .fa-x {
    display: inline-block; 
}

.btn-add-to-plan-added .fa-check {
  display: inline-block; 
}

.btn-add-to-plan-added .fa-x {
  display: none;
}

.plan-day {
  background-color: #c8c8c8;
  border-radius: 0.25rem;
}

body { padding-top: 50px; }


.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth; 


}

.scrolling-wrapper-flexbox {
  &::-webkit-scrollbar {
    display: none;
  }
}

.collection_gutter{
  background-color: #f1f1f1;
  border-radius: 5px;
  border: #ccc;
  border-style: solid;
  border-width: 1px;
  
  }

.collection_gutter:hover{
background-color: #ccc;


}